*
{
    margin: 0;
    padding: 0;
    text-decoration: 0;
    outline: none;
    scroll-behavior: smooth;

}
body
{
    display: flex;
    justify-content: center;
    margin-top: 20%;
    background-color:rgb(0, 128, 0,.6);
    
}
.btn-1{
    background: rgba(255, 166, 0, 0.774);
    margin-top: 1.7vh;
    color: rgba(255, 255, 255, 0.87);
    font-size: 23px;
    border: 2px solid rgba(255, 166, 0, 0.774);
    margin-left: 3%;
    padding: 50px 65px;
    border-radius: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    -webkit-box-reflect:below 20px linear-gradient(transparent, white);
    transition-duration: 1s;
    position: absolute;
    z-index: 2;

}
.btn-1:hover{
    background: transparent;
    border: 2px solid whitesmoke;
    cursor: pointer;
    transition-duration: 1s;
    -webkit-box-reflect: unset;
}